:root {
  --font-heading: 'League Gothic', Helvetica, Arial, sans-serif;
  --font-body: 'Montserrat', Helvetica, Arial, sans-serif;
  --font-subhead: 'Questrial', Helvetica, Arial, sans-serif;

  --header-height: 5.625em;
  --header-height-mobile: 4.8125em;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: var(--font-body);
  line-height: 1.5;
  background-color: #E1E5E8;
  color: #000;
}